fastapi==0.115.12
starlette==0.40.0
uvicorn==0.30.6

requests==2.32.3
types-requests==2.32.0.20250328

sqlalchemy==2.0.34
alembic==1.13.2
asyncpg==0.29.0
psycopg2-binary==2.9.9

pydantic~=2.10.6
pydantic-settings==2.7.1

mypy==1.15.0
flake8==7.1.2
pylint==3.3.5
isort==6.0.1
bandit==1.8.3